{% extends "base_app.html" %}

{% block body %}
	<div class="container-wrap">
			<div class="animated fadeInUp" style="padding-top: 10px">
                <p class="toptitle">Book Online</p>
		  	</div>
		<div id="fh5co-work">
			<div class="row">
				<div class="col-md-4">
                    <a href="/book/scrapy/"><img src="/images/book/book1.jpg" class="img-responsive"></a>
				</div>
                <div class="col-md-4">
                    <a href="/book/gonote/"><img src="/images/book/book2.jpg" class="img-responsive"></a>
				</div>
                <div class="col-md-4">
                    <a href="/book/suanfa/"><img src="/images/book/book3.jpg" class="img-responsive"></a>
				</div>
				<div class="col-md-12 fh5co-project-detail">
                    <br>
					<h2 class="fh5co-project-title">在线Gitbook</h2>
					<p>平时记录的笔记都制作成了gitbook托管在这里</p>

					<div class="fh5co-project-service">
						<h3>Powered by</h3>
						<ul>
							<li>Gitbook</li>
							<li>Github</li>
							<li>Node.js</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}