{% extends "base_app.html" %}

{% block head %}
	<link rel="stylesheet" href="/css/color.css">
{% endblock %}

{% block body %}
	<div class="container-wrap">
			<div class="animated fadeInUp" style="padding-top: 10px">
                <p class="toptitle">COLOR</p>
                <p style="padding-top: 10px" class="text-center animated fadeInUp">online color picker</p>
		  	</div>
		<div id="fh5co-work">
            <h3>颜色对照表</h3>
            <div class="btn-group"><button id="show">🙉显示</button><button id="hide">🙈隐藏</button><button id="feed">💩反馈</button></div>

            <div id="demo" class="row">
            <br>
                {% for c in color|list %}
                <div class="col-sm-4 col-xs-4 col-md-3" style="margin: 10px 10px 10px 10px;"><p style="background: {{ c }};width: 120px;height: 30px;line-height:30px;display: inline-block;vertical-align: middle;margin: 0 0 0 0;"></p>&nbsp;<i style="display: inline-block;line-height:30px;vertical-align:middle;">{{ c }}</i></div>
                {% endfor %}
            </div>
            <h3>颜色提取器</h3>
                <p>上传图片提取图片中的颜色</p>
    <main>
        <section class="file-select">
            <div class="file-select-button">
                <label for="file-select-input">选择一张图片</label>
                <input type="file" id="file-select-input" name="fileselect[]" multiple="multiple" />
            </div>
            <div id="filedrag">或者拖拽一张图片放到这里</div>
        </section>
        <section class="results">
            <div id="error"></div>
            <h1></h1>
            <div id="output"></div>

        </section>
    </main>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}

{% block script %}
    <script src="/js/app.js"></script>
    <script src="/js/palette.js"></script>
    <script src="/js/helper.js"></script>
    <script type="text/javascript">
        var demo = $("#demo");
        $("#show").click(function () {
            demo.show();
        });
        $("#hide").click(function () {
            demo.hide();
        });
        $("#feed").click(function () {
            alert("更多颜色敬请期待")
        })
    </script>
{% endblock %}