{% extends "base_app.html" %}


{% block body %}
	<div class="container-wrap">
			<div class="animated fadeInUp" style="padding-top: 10px">
                <p class="toptitle">MgekX</p>
                <p style="padding-top: 10px" class="text-center animated fadeInUp">Mgek Android app</p>
		  	</div>
		<div id="fh5co-work">
    <div class="code">
        <br>
        <p>MgekX是官方的安卓应用</p>
        <h3>简介</h3>
        <p>该应用使用<code>uni-app</code>开发，集成了博客，最新文章，在线文档，项目预览，日志和小火箭功能。使用<code>restful api</code>与后端进行通信</p>
        <h3>前往Github尝试app</h3>
        <a href="https://github.com/Landers1037/mgekx/releases">Github Release</a>
        <h3>项目地址</h3>
        <a href="https://github.com/Landers1037/mgekx">Github</a>
    </div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}