{% extends "base_app.html" %}

{% block body %}
	<div class="container-wrap">
			<div class="animated fadeInUp" style="padding-top: 10px">
                <p class="toptitle">Pigform</p>
                <p style="padding-top: 10px" class="text-center animated fadeInUp">医疗管理表格系统</p>
		  	</div>
		<div id="fh5co-work">
    <div class="code">
        <br>
        <p>Pigform是一个跨平台的医疗管理表格系统</p>
        <h3>简介</h3>
        <p>Pigform由Electron编写，可实现跨平台使用，实现医疗管理中的人员信息记录，按照姓名,日期,病理信息等进行索引<br>
        支持数据库本地完全备份，增量备份，云端备份等功能。表格字段支持预定义，支持分页管理，自定义设置选项。
        </p>
        <h3>界面预览</h3>
        <img src="/store/pigform/home.jpg">
        <img src="/store/pigform/panel.jpg">
        <img src="/store/pigform/setting.jpg">
        <h3>项目地址</h3>
        <a href="https://github.com/Landers1037/pan">Github</a>
    </div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}