{% extends "base_index.html" %}
{% block title %}About{% endblock %}

{% block body %}
	<div class="container-wrap">
		<div style="padding-top: 2em" id="fh5co-work">
			<div class="row">
				<div class="col-md-12 text-center fh5co-project-detail">
					<h2 style="margin-bottom: 30px" class="fh5co-project-title text-center animated fadeInUp">关于</h2>
                    <p class="animated fadeInUp" style="animation-delay: .3s">我是Landers，一名开发者，我的
                        <a href="http://renj.io">个人主页</a>
                    </p>
                    <p class="animated fadeInUp" style="animation-delay: .3s">这里是我的项目介绍，在这里你可以看到我写过的开源项目</p>
                    <br>
                    <h3 class="animated fadeInUp" style="animation-delay: .5s">Powered by Docker</h3>
                    <p class="animated fadeInUp" style="animation-delay: .5s">本站点使用Docker容器化部署</p>
                    <img  style="border-radius: 10px" src="/images/about.jpg">

				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}

