<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#1a1a1a">
    <!--移动端适配，浏览器应用模式-->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta content="telephone=no,email=no" name="format-detection"/>
    <meta name="apple-mobile-web-app-title" content="Mgek">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-page-mode" content="app">
    <meta name="renderer" content="webkit">
	<meta name="description" content="Landers的项目，Mgek项目,整理自平时写的项目丰富生活,充实自己,不断变强">
	<meta name="keywords" content="mgek,Landers1037,项目,开源项目,Mgek项目">
    <meta name="google" content="notranslate">
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="mgek">
	<meta property="og:image" content="">
	<meta property="og:url" content="http://mgek.cc">
	<meta property="og:site_name" content="mgek项目">
	<meta property="og:description" content="Mgek项目,Landers的开源项目">
	<meta name="twitter:title" content="Mgek">
	<meta name="twitter:image" content="">
	<meta name="twitter:url" content="http://mgek.cc">
	<meta name="twitter:card" content="">
    <!--移动图标和apple图标-->
    <link href="/favicon.png" rel="shortcut icon">
    <link href="/favicon.png" rel="apple-touch-icon">
    <!--全局字体-->
    <link href="https://fonts.googleapis.com/css?family=Asap:500,600&display=swap" rel="stylesheet">
    <!--是否启用动画-->
    {% if animate %}<link href="/css/animate.css" rel="stylesheet">{% endif %}
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!--主题样式-->
	<link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.bootcss.com/flexslider/2.6.0/flexslider.min.css" rel="stylesheet">
    {% block head %}

    {% endblock %}

    {% block head_script %}

    {% endblock %}
</head>

    {% block style %}

    {% endblock %}

	<body>
	<div id="page">
    <!--顶部栏-->
	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="/">Mgek</a><i>APP</i></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
                            {% if active == 'home' %}
							    <li class="active"><a href="/">Home</a></li>
                            {% else %}
                                <li><a href="/">Home</a></li>
                            {% endif %}

							<li><a href="/doc/">Doc</a></li>

                            {% if active == 'site' %}
                                <li class="active has-dropdown">
                                    <a href="http://renj.io">Site</a>
                                    <ul class="dropdown">
                                        <li><a href="https://blog.renj.io">Blog</a></li>
                                        <li><a href="/usage/">Usage</a></li>
                                        <li><a href="/copyright/">Copyright</a></li>
                                        <li><a href="https://github.com/landers1037">Github</a></li>
                                        <li><a href="/gallery/">Gallery</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="has-dropdown">
                                    <a href="http://renj.io">Site</a>
                                    <ul class="dropdown">
                                        <li><a href="https://blog.renj.io">Blog</a></li>
                                        <li><a href="/usage/">Usage</a></li>
                                        <li><a href="/copyright/">Copyright</a></li>
                                        <li><a href="https://github.com/landers1037">Github</a></li>
                                        <li><a href="/gallery/">Gallery</a></li>
                                    </ul>
                                </li>
                            {% endif %}

                            {% if active == 'pub' %}
                                <li class="active"><a href="/public/">PUB</a></li>
                            {% else %}
                                <li><a href="/public/">PUB</a></li>
                            {% endif %}

                            {% if active ==  'api' %}
                                <li class="active"><a href="/api/">API</a></li>
                            {% else %}
                                <li><a href="/api/">API</a></li>
                            {% endif %}

                            {% if active == 'about' %}
                                <li class="active"><a href="/about/">About</a></li>
                            {% else %}
							    <li><a href="/about/">About</a></li>
                            {% endif %}
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

    {% block body %}

    {% endblock %}

	<div class="container-wrap">
		<footer id="fh5co-footer" role="contentinfo">
			<div class="row">
				<div class="col-md-4 fh5co-widget">
					<h4>About Mgek</h4>
					<p>A website that I build to show my own works.<br>Here you can see the introduction of my apps and read documents online.My gitbook is also published here, you can read it if you like.</p>
				</div>

				<div class="col-md-4 col-md-push-1">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/">Home</a></li>
						<li><a href="http://renj.io">My site</a></li>
						<li><a href="http://blog.renj.io">Blog</a></li>
						<li><a href="/about/">About</a></li>
					</ul>
				</div>

				<div class="col-md-4">
					<h4>Contact Information</h4>
					<ul class="fh5co-footer-links">
                        <li><a>HUST 1037</a></li>
						<li><a href="mailto:liaorenj@gmail.com">liaorenj@gmail.com</a></li>
						<li><a href="https://t.me/Greatpipi/">Telegram</a></li>
                        <li><a href="/subscribe">Subscribe</a></li>
						<li><button onclick="window.location.href='https://github.com/landers1037'" style="background-color: #da2657;border: none;font-size: 12px;color: #fff;vertical-align: middle">Follow</button><span style="background-color: #e1e1e1;font-size:14px;padding: 2px 3px;vertical-align: middle">🍭</span></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<span class="block">&copy; 2019 <a href="http://renj.io/" target="_blank">Landers1037</a></span>
					</p>
				</div>
			</div>
		</footer>
	</div><!-- END container-wrap -->
	</div>

    {% block bar %}

    {% endblock %}

    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/waypoints/4.0.0/jquery.waypoints.min.js"></script>
    <script src="https://cdn.bootcss.com/flexslider/2.6.0/jquery.flexslider.min.js"></script>
	<script src="/js/main.js"></script>

    {% block script %}

    {% endblock %}

    <script>
    $(document).ready(function() {
    $(window).scroll(function() {
        if ($(document).scrollTop()<=0){
            $(".bar").hide();
        }else {
            $(".bar").show();
        }
    });
});
    </script>
	</body>
</html>

