{% extends "base_index.html" %}
{% block title %}Pub{% endblock %}
{% block head %}
    <script src="https://cdn.bootcss.com/modernizr/2.6.2/modernizr.min.js"></script>
{% endblock %}
{% block style %}
    <style>
        .toptitle{
            font-size: 18px;
            color: #fff;
            margin: 0 auto;
            margin-top: 10px;
            width: fit-content;
            height: fit-content;
            padding: 0 5px 0 5px;
            border: 2px solid #dddddd;
        }
        #fh5co-work img{
            max-width: 90%;
            margin: 0 auto;
            margin-bottom: 15px;
            border: 1.5px solid #808080;
            border-radius: 5px;
            transition: all 0.3s ease;
        }
        #fh5co-work img:hover{
            opacity: 0.7;
            border: 2px solid #268bd2;
            transition: width 0.2s ease;
        }
        @media (max-width: 500px) {
            #fh5co-work img{
              max-width: 60%;
                transition: all 0.3s ease;
            }
        }
    </style>
{% endblock %}

{% block body %}
	<div class="container-wrap">
			<div class="animated fadeInUp" style="padding-top: 10px">
                <p class="toptitle">Book Online</p>
		  	</div>
		<div id="fh5co-work">
			<div class="row">
				<div class="col-md-4">
                    <a href="/book/scrapy/"><img src="/images/book/book1.jpg" class="img-responsive"></a>
				</div>
                <div class="col-md-4">
                    <a href="/book/gonote/"><img src="/images/book/book2.jpg" class="img-responsive"></a>
				</div>
                <div class="col-md-4">
                    <a href="/book/suanfa/"><img src="/images/book/book3.jpg" class="img-responsive"></a>
				</div>
				<div class="col-md-12 fh5co-project-detail">
                    <br>
					<h2 class="fh5co-project-title">在线Gitbook</h2>
					<p>平时记录的笔记都制作成了gitbook托管在这里</p>

					<div class="fh5co-project-service">
						<h3>Powered by</h3>
						<ul>
							<li>Gitbook</li>
							<li>Github</li>
							<li>Node.js</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}