{% extends "base_index.html" %}
{% block title %}Copyright{% endblock %}

{% block body %}
	<div class="container-wrap">
		<div style="padding-top: 2em" id="fh5co-work">
			<div class="row">
				<div class="col-md-12 text-center fh5co-project-detail">
					<h2 style="margin-bottom: 30px" class="fh5co-project-title text-center animated fadeInUp">版权所有</h2>
                    <p class="animated fadeInUp" style="animation-delay: .3s">我是Landers，一名开发者，我的
                        <a href="http://renj.io">个人主页</a>
                    </p>
                    <p class="animated fadeInUp" style="animation-delay: .3s">Mgek项目是开源的，遵循开源协议MIT, GPL V3, Apache License等</p>

				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}

